.basicLightbox {
  overflow: scroll;
}

.team__modal {
  text-decoration: underline;
  cursor: pointer;
}

.team__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 240px;
  background-color: #ffffff;
  border-radius: 15px;
}
@media screen and (max-width: 617px) {
  .team__wrapper {
    margin-top: 70px;
  }
}
@media screen and (min-width: 768px) {
  .team__wrapper {
    width: 400px;
    border-radius: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .team__wrapper {
    width: 600px;
  }
}

.team__lead {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.team__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 30px;
  width: calc((100% - 80px) / 1);
}
@media screen and (min-width: 768px) {
  .team__card {
    width: calc((100% - 160px) / 2);
  }
}
@media screen and (min-width: 1024px) {
  .team__card {
    margin: 15px 30px;
    width: calc((100% - 240px) / 4);
  }
}

.team__image {
  margin-bottom: 10px;
  -webkit-box-shadow: 0px -2px 32px 1px rgba(0, 0, 0, 0.69);
          box-shadow: 0px -2px 32px 1px rgba(0, 0, 0, 0.69);
  -o-object-fit: cover;
     object-fit: cover;
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.team__name {
  margin-bottom: 5px;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}

.team__role {
  font-family: Roboto;
  text-align: center;
  margin-bottom: 10px;
  color: #ff6b08;
}
@media screen and (max-width: 767px) {
  .team__role {
    font-size: 14px;
  }
}

.team__modal {
  text-decoration: underline;
}

.basicLightbox {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
  background: rgba(102, 90, 90, 0.8);
  opacity: 0.01;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  z-index: 1000;
  will-change: opacity;
  overflow-y: scroll;
  -webkit-transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .basicLightbox {
    padding-top: 25px;
  }
}

.basicLightbox--visible {
  opacity: 1;
}

.basicLightbox__placeholder {
  max-width: 100%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  z-index: 1;
  will-change: transform;
}

.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 95%;
  max-height: 95%;
}

.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  pointer-events: auto;
}

.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  width: auto;
  height: auto;
}

.basicLightbox--iframe .basicLightbox__placeholder,
.basicLightbox--img .basicLightbox__placeholder,
.basicLightbox--video .basicLightbox__placeholder {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.basicLightbox--visible .basicLightbox__placeholder {
  -webkit-transform: scale(1);
          transform: scale(1);
}/*# sourceMappingURL=team-modal.css.map */